/* 
1. Position
2. Box Model
3. Typography
4. Visual Themes
5. Miscellaneous
*/
:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  /* Second Font */
  /* font-family: "Inter", sans-serif; */
}

/* Header */
header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header__title--container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header__title--container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header__title--container p {
  margin-top: 25px;
  size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header__title--container .header__button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("https://i.postimg.cc/3wT9fCBr/down-arrow.png");
}

/* Main */
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main__exchange__container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.background__image__container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("https://i.postimg.cc/zDSdWWDn/bitcoin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main__exchange__container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main__exchange__container--title h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main__exchange__container--title p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}

.main__tables__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-flow: column;
  width: 70%;
  min-width: 235px;
  max-width: 500px;
}
.main__tables__container--title {
  padding: 0 10px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.main__tables__container--details {
  background-color: var(--just-white);
  display: grid;
  grid-template: repeat(3, 1fr);
  grid-auto-rows: 25px;
  grid-template-areas:
    "name1 amount1 icon1"
    "name2 amount2 icon2"
    "name3 amount3 icon3"
    "name4 amount4 icon4";
  column-gap: 1%;
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  border-radius: 5px;
  padding: 10px;
}
.moneda {
  text-align: left;
  font-weight: 400;
  color: var(--grey);
}
.valor {
  margin-left: 30%;
  text-align: left;
  font-weight: lighter;
  color: #757575;
}
.icon {
  margin-left: 30%;
  width: 15px;
  height: auto;
  text-align: left;
}
.bitcoin {
  grid-area: name1;
}
.valor1 {
  grid-area: amount1;
}
.indicador1 {
  grid-area: icon1;
}
.etherum {
  grid-area: name2;
}
.valor2 {
  grid-area: amount2;
}
.indicador2 {
  grid-area: icon2;
}

.currency__update {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  padding: 8px;
  height: 30px;
  background-color: var(--soft-orange);
  border-radius: 5px;
}
.currency__update p {
  color: var(--warm-black);
  font-weight: 300;
}

.main__tables__container--comisiones h2 {
  color: var(--secondary-blue);
}

/* Benefits */
.main__product__detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 2rem 1rem;
  background-color: var(--warm-black);
}
.product__detail__batata__logo {
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  top: -1rem;
  left: calc(50% - 2rem);
  background-image: url("../assets/imgs/logo.svg");
}
.product__detail__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}
.product__detail__title h2 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product__detail__title p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product__detail__card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product__detail__card .clock,
.eye,
.dollar-sign,
.check-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.clock {
  background-image: url("../assets/icons/clock.png");
}
.eye {
  background-image: url("../assets/icons/eye.png");
}
.dollar-sign {
  background-image: url("../assets/icons/dollar-sign.png");
}
.check-circle {
  background-image: url("../assets/icons/check-circle.png");
}

.product__card__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product__card__body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
